<div class="container mt-5 about-us">
    <h1 class="mb-3">About Us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna. Integer ullamcorper neque eu purus euismod, ac facilisis felis bibendum. Ut euismod ultricies sollicitudin. Curabitur sed venenatis erat. Duis vehicula magna at magna consectetur, in consectetur erat feugiat. Integer ut felis ut massa vestibulum feugiat nec vitae ligula.</p>
  
    <h2 class="mt-4">Our Mission</h2>
    <p>To provide the best service possible through innovation, quality, and commitment. We aim to improve lives by delivering excellent products and services Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus hic iusto a voluptatum? Nesciunt, dignissimos iste tempora quisquam ab beatae autem impedit, fugiat provident aut totam accusamus debitis dolorem voluptatem. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi vitae illum a officiis repudiandae ipsam doloremque velit atque mollitia sit. Delectus ad maxime eligendi officia earum sunt quas nam placeat?.</p>
  
    <h2 class="mt-4">Our Vision</h2>
    <p>To be a leader in our industry, recognized for our dedication to excellence and our unwavering commitment to customer satisfaction.Natus hic iusto a voluptatum? Nesciunt, dignissimos iste tempora quisquam ab beatae autem impedit, fugiat provident aut totam accusamus debitis dolorem voluptatem. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi vitae illum a officiis repudiandae ipsam doloremque velit atque mollitia sit. Delectus ad maxime eligendi officia earum sunt quas nam placeat?.</p>
</div>
  
<div class="container mt-5">
    <div class="row my-5">
        <div class="col-md-4 custom-card">
            <h3>Our History</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna. Our journey began over a decade ago with a vision to innovate and excel.</p>
            <div class="img-container">
                <img src="assets/history.jpg" alt="Our History" class="img-fluid custom-img">
            </div>
        </div>
        <div class="col-md-4 custom-card">
            <h3>Our Team</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna. Meet the dedicated team behind our success.Lorem ipsum dolor sit amet. </p>
            <div class="img-container">
                <img src="assets/team.jpg" alt="Our Team" class="img-fluid custom-img">
            </div>
        </div>
        <div class="col-md-4 custom-card">
            <h3>Our Values</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna. Integrity, excellence, and innovation define us. Lorem ipsum dolor sit amet.</p>
            <div class="img-container">
                <img src="assets/values.jpg" alt="Our Values" class="img-fluid custom-img">
            </div>
        </div>
    </div>
  
    <div class="row mt-5">
        <div class="col-md-6 custom-card">
            <h3>Our Achievements</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna. We take pride in our numerous awards and accolades.</p>
            <div class="img-container">
                <img src="assets/achievements.jpg" alt="Our Achievements" class="img-fluid custom-img">
            </div>
        </div>
        <div class="col-md-6 custom-card">
            <h3>Future Plans</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna. Our future is bright, with plans to expand and innovate further.</p>
            <div class="img-container">
                <img src="assets/plans.jpg" alt="Future Plans" class="img-fluid custom-img">
            </div>
        </div>
    </div>
</div>
